<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <center><%= "Team Name: #{@name}" %><br></center>
    <center><%= "Coach: #{@coach}" %><br></center>
    <center><%= "Point Guard: #{@pg}" %><br></center>
    <center><%= "Shooting Guard: #{@sg}" %><br></center>
    <center><%= "Power Forward: #{@pf}" %><br></center>
    <center><%= "Small Forward:#{@sf}" %><br></center>
    <center><%= "Center: #{@c}" %></center>


 </body>
</html>


